<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mb.rolemenu.dao.RoleMenuDao">

	<resultMap id="resultMap" type="com.mb.rolemenu.entity.RoleMenu">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="roleId" column="ROLEID" jdbcType="VARCHAR" />
		<result property="menuId" column="MENUID" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 根据用户id查询对应角色 -->
	<select id="selectRoleMenuListByRoleId" resultMap="resultMap" parameterType="java.lang.String">
		select 
		<include refid="base_column_list" /> 
		from base_role_menu 
		where roleId = #{roleId}
	</select>
	
	<sql id="base_column_list" >
       	 id,
       	 roleId, 
       	 menuId 
 	 </sql>
 	 
 	 <sql id="base_select_where" >
		<where>
			<if test="id != null and id != '' ">
	          and ID = #{id}
	        </if>
	        <if test="roleId != null and roleId != '' ">
	          and ROLEID = #{roleId}
	        </if>
	        <if test="menuId != null and menuId != '' ">
	          and MENUID = #{menuId}
	        </if>
		</where>
	</sql>
	
</mapper>